*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Montserrat, sans-serif;

    @media (prefers-color-scheme: dark) {
        background-color: #1C1C1C;
    }
}
::-webkit-scrollbar {
    background-color: #000000;
}

::-webkit-scrollbar-track {
    background-color: #ffffff;
    @media (prefers-color-scheme: dark) {
        background-color: #272727;
    }
}

::-webkit-scrollbar-thumb {
    background-color: #299764;
    
}
